.logo img{
    width: 240px;
    height: 110px;
    padding: 20px;
}

body{
    background: linear-gradient(141deg, #6e6e6e1c 6%, #a9ecec42 5%, #a051884b 5%, #f0ff6d1e 10%, #c09e5f18 10%, #c5c2c269 75%);
}

.email input[type=mail]{
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    font-family: "Roboto";
    text-align: center;
    background-color:#f0f0f0;
    border-radius: 5px;
    border:0;
    box-shadow: 0 0 10px gray;
    outline:none;
    padding:5px 8px;
    /* margin-top: 5%; */
}

.email input[type=submit]{
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Roboto";
    text-align: center;
    background-color:#36111d;
    border-radius: 5px;
    border:0;
    outline:none;
    padding:5px 5px;
}

.email{
    text-align: center;
    padding: 40px;
}
.email input:hover[type=submit]{
   background-color: rgb(105, 3, 3);
   transition: .5s;
}
.head ul{
    /* display: flex; */
    text-align: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .head li a{ 
    color:rgba(0, 0, 0, 0.589) ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 1px 1px;
  }
  
  .head li a:hover {
    background-color: rgba(9, 110, 156, 0.233);
    transition: .5s;
  }

  .rb h2{
    text-align: center;
    font-size: 25px;
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .robs img{
    width: 250px;
    height: 180px;
    box-shadow: 0 0 10px rgba(43, 43, 43, 0.13);
  }
  .robs img:hover{
    box-shadow: 0 0 10px rgba(43, 43, 43, 0.938);
    transition: .7s;
  }
  
  h3{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(75, 32, 32, 0.822);
  }
  h3:hover{
    color: #000;
    transition: .5s;
  }
  .robs{
    text-align: center;
    /* display: flex; */
    justify-content: space-evenly;
    padding: 30px;
    background-color: #e3e5e9da;
  }
  .robs1 img{       
    width: 250px;
    height: 180px;
    box-shadow: 0 0 10px rgba(43, 43, 43, 0.13);
  }
  .robs1 img:hover{
    box-shadow: 0 0 10px rgba(43, 43, 43, 0.938);
    transition: .7s;
  }
  .robs1{
    text-align: center;
    /* display: flex; */
    justify-content: space-evenly;
    padding: 30px;
    background-color: #e3e5e9a4;
  }
  
  .robs2 img{
    width: 250px;
    height: 180px;
    box-shadow: 0 0 10px rgba(43, 43, 43, 0.13);
  }
  .robs2 img:hover{
    box-shadow: 0 0 10px rgba(43, 43, 43, 0.938);
    transition: .7s;
  }
  .robs2{
    text-align: center;
    /* display: flex; */
    justify-content: space-evenly;
    padding: 30px;
    background-color: #e3e5e9;
  }
  
  .so{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    padding: 25px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .so1 h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
  }
  .so1 h4{
    color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
  }

  .social{
    text-align: center;
    font-size: 30px;
    padding: 9px;
  }
  .social a{
    color: rgba(0, 0, 0, 0.808);
  }
  .social a[type=twitter]:hover{
    background-color:	#1DA1F2;
    color: white;
    padding: 7px;
    border-radius:30px;
    font-size: 35px;
    transition:.5s ;
    box-shadow: 0 0 10px gray;
  }
  .social a[type=youtube]:hover{
    background-color:#FF0000;
    color: white;
    padding: 7px;
    border-radius:30px;
    font-size: 35px;
    transition:.5s ;
    box-shadow: 0 0 10px gray;
  }
  .social a[type=instagram]:hover{
    background-color: #8a3ab9;
    color: white;
    padding: 7px;
    border-radius:30px;
    font-size: 35px;
    transition:.5s ;
    box-shadow: 0 0 10px gray;
  }
  .social a[type=facebook]:hover{
    background-color:	#4267B2;
    color: white;
    padding: 7px;
    border-radius:30px;
    font-size: 35px;
    transition:.5s ;
    box-shadow: 0 0 10px gray;
  }

  .footer{
    /* display: flex; */
    justify-content: space-evenly;
    background-color: rgba(129, 129, 129, 0.39);
  }
  .fot1{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Verdana,Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
  }
  .fot1 i{
    font-size: 30px;
    color: rgba(22, 22, 22, 0.521);
}
  .fot2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Verdana,Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
}
.fot2 i{
  font-size: 30px;
  color: rgba(22, 22, 22, 0.521);
}
.loc li a{
  color:rgba(255, 255, 255, 0.699);
}

.fot3{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Verdana,Tahoma, sans-serif;
  text-align: center;
  padding: 20px;
}
.fot3 i{
  font-size: 30px;
  color: rgba(22, 22, 22, 0.521);
}

.fot3 p{
  width: 90%;
  margin: 0 auto;
}
.fot4{
  padding: 25px;
  text-align: center;
}
.fot4 input[type=mail]{
  font-size: 14px;
  line-height: 25px;
  color: #000000;
  font-family: "Roboto";
  text-align: center;
  background-color:#f0f0f0;
  border-radius: 5px;
  border:0;
  outline:none;
  padding:5px 18px;
}

.fot4 input[type=submit]{
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Roboto";
  text-align: center;
  background-color:#36111d;
  border-radius: 5px;
  border:0;
  outline:none;
  padding:5px 15px;
}

.fot4 input:hover[type=submit]{
  background-color:rgb(49, 47, 47);
  transition: .5s;
}

.fot4 p{
  font-size: 16px;
  padding: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: Verdana,Tahoma, sans-serif;
  text-align: center;
  padding: 20px;
}


@media only screen and (min-width: 768px){

  .head ul{
   display: flex;
  }
  .robs{
    display: flex;
  }
  .robs1{
    display: flex;
  }
  .robs2{
    display: flex;
  }
  .so{
    width: 60%;
  }
  .footer{
   display: flex;
  }
  .fot3 p{
    width: 400px;
  }
}