.logo img{
    width: 240px;
    height: 110px;
    padding: 20px;
}
.logo{
    display: flex;
    justify-content: space-between;
}

.language{
    display: flex;
    padding: 0 25px;
}

.language h3{
    padding: 32px 0 0 0;
    font-size:18px ;
    font-family: Arial, Helvetica, sans-serif;
}

.lan{
    border: 0;
    outline: none;
    margin-bottom:31px;
    font-size: 1em;
    background-color: rgba(214, 214, 214, 0.041);
}

.head ul{
    /* display: flex; */
    text-align: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .head li a{ 
    color:rgba(0, 0, 0, 0.589) ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgba(9, 110, 156, 0.233); */
    font-size: 20px;
    border-radius: 1px 1px;
  }
  
  .head li a:hover {
    background-color: rgba(9, 110, 156, 0.233);
    transition: .5s;
  }

  .dropbtn {
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-ach {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-ach a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color:rgb(33, 3, 73);
  }
  
  .dropdown-ach a:hover {       
      background-color: #f1f1f1;
      font-size: 15px;
      font-family: sans-serif;
      transition: .5s;
  }
  
  .dropdown:hover .dropdown-ach {
    display: block;
    /* margin: 10px 1px 10px; */
    box-shadow: 8px 8px 5px rgb(8, 54, 19);
    border-radius: 2px;
    transition: .5s;
  }

body{
    background: url("../img/service.png") center/cover; 
    background-repeat: no-repeat; 
    height: 100vh;
    background-color: rgba(214, 214, 214, 0.418);
}

.service{
    padding: 6.8%;
}

/* .service h3{
    text-align: center;
    font-size: 2em;
    color: #141414;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
} */
.service p{
    /* width: 65%; */
    margin: 0 auto;
    font-size: 17px;
    line-height: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgba(60, 149, 165, 0.089);
    color: rgb(31, 31, 31);
    border-radius:2px ;
    background:rgba(240, 240, 240, 0.74); 
}
.service p:hover{
  background-color: rgba(74, 109, 119, 0.158);
  transition: .5s;
}

.service h5{
    /* width: 60%; */
    margin: 0 auto;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    background-color:rgba(30, 31, 31, 0.027);
    border-radius: 2px;
}

.service article{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  letter-spacing: .1px;
  font-size: 18px;
  color: rgb(51, 51, 51);
  padding: 32px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.178), -3px -3px 6px rgba(80, 80, 80, 0.164), inset 2px 2px 5px rgba(90, 90, 90, 0.158), inset -2px -2px 5px rgba(0, 0, 0, 0.185);
  background:rgba(240, 240, 240, 0.74);
}
.service1{
    padding:35px;
    text-align: center;
}

.service1 [type=mail]{
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    font-family: "Roboto";
    text-align: center;
    background-color:#f0f0f0;
    border-radius: 5px;
    border:0;
    box-shadow: 0 0 10px gray;
    outline:none;
    padding:5px 8px;
} 

.service1 [type=submit]{
    font-size: 14px;
    background-color: #5e98a0;
    color: white;
    padding: 10px 22px;
    border: 0;
    box-shadow: 0 0 10px #5e98a0;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.service1 [type=submit]:hover{
    background-color: #1493a4;
    transition: .5s;
}

.footer{
  /* display: flex; */
  justify-content: space-evenly;
  background: linear-gradient(150deg,  #afdfebc0 , #7497aab4, #4b729c );
}
.fot1{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Verdana,Tahoma, sans-serif;
  text-align: center;
  padding: 20px;
}
.fot1 i{
  font-size: 30px;
  color: rgba(22, 22, 22, 0.521);
}
.fot2{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Verdana,Tahoma, sans-serif;
  text-align: center;
  padding: 20px;
}
.fot2 i{
font-size: 30px;
color: rgba(22, 22, 22, 0.521);
}
.loc li a{
color:rgba(255, 255, 255, 0.699);
}

.fot3{
font-size: 16px;
line-height: 24px;
font-weight: 400;
font-family: Verdana,Tahoma, sans-serif;
text-align: center;
padding: 20px;
}
.fot3 i{
font-size: 30px;
color: rgba(22, 22, 22, 0.521);
}

.fot3 p{
width: 90%;
margin: 0 auto;
}
.fot4{
padding: 25px;
}
.fot4 input[type=mail]{
font-size: 14px;
line-height: 25px;
color: #000000;
font-family: "Roboto";
text-align: center;
background-color:#f0f0f0;
border-radius: 5px;
border:0;
outline:none;
padding:5px 18px;
}

.fot4 input[type=submit]{
font-size: 14px;
line-height: 25px;
color: #ffffff;
font-family: "Roboto";
text-align: center;
background-color:#36111d;
border-radius: 5px;
border:0;
outline:none;
padding:5px 15px;
}

.fot4 input:hover[type=submit]{
background-color:rgb(49, 47, 47);
transition: .5s;
}

.fot4 p{
font-size: 16px;
padding: 20px;
line-height: 24px;
font-weight: 400;
font-family: Verdana,Tahoma, sans-serif;
text-align: center;
padding: 10px;
}
   @media only screen and (min-width: 768px){
    .head ul{
      display: flex;
   }
   .service h5{
     width: 65%;
   }
   .service p{
     width: 65%;
   }
   .footer{
    display: flex; 
   }
   .fot3 p{
    width: 400px;
   }
   
  }