.logo img{
    width: 240px;
    height: 110px;
    padding: 20px;
}

body{
    background: linear-gradient(11deg, #6e6e6e1c 6%, #a9ecec42 5%, #a051884b 5%, #f0ff6d1e 10%, #c09e5f2f 10%, #c5c2c269 75%);
}

.head ul{
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .head li a{ 
    color:rgba(0, 0, 0, 0.589) ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 1px 1px;
  }
  
  .head li a:hover {
    background-color: rgba(9, 110, 156, 0.233);
    transition: .5s;
  }

  .bina{
      display: flex;
      justify-content: space-evenly;
      padding: 30px;
  }
  .bina1 img{
      width: 550px;
      height: 600px;
  }

  .bina2 h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    padding: 10px;
  }
  .bina2 h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding: 10px;
  }
  .bina2 p {
      width: 60%;
      font-size: 17px;
      font-family:  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 10px;
  }

  .social{
    text-align: center;
    font-size: 30px;
    padding: 9px;
  }
  .social a{
    color: rgba(0, 0, 0, 0.808);
  }
  .social a[type=twitter]:hover{
    background-color:	#1DA1F2;
    color: white;
    padding: 7px;
    border-radius:30px;
    font-size: 35px;
    transition:.5s ;
    box-shadow: 0 0 10px gray;
  }
  .social a[type=youtube]:hover{
    background-color:#FF0000;
    color: white;
    padding: 7px;
    border-radius:30px;
    font-size: 35px;
    transition:.5s ;
    box-shadow: 0 0 10px gray;
  }
  .social a[type=instagram]:hover{
    background-color: #8a3ab9;
    color: white;
    padding: 7px;
    border-radius:30px;
    font-size: 35px;
    transition:.5s ;
    box-shadow: 0 0 10px gray;
  }
  .social a[type=facebook]:hover{
    background-color:	#4267B2;
    color: white;
    padding: 7px;
    border-radius:30px;
    font-size: 35px;
    transition:.5s ;
    box-shadow: 0 0 10px gray;
  }


  .bina3{
      display: flex;
      justify-content: space-evenly;
  }
  .bina4 p{
      width: 70%;
      margin: 0 auto;
      color: #fff;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding: 10px;
      letter-spacing: 1px;
  }
  .bina5 article{
      width: 80%;
      margin: 0 auto;
      color: #fff;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding: 10px;
      letter-spacing: 2px;
  }
  .aboutbina{
      background-color: #000;
      height: 200px;
  }
  .aboutbina1{
      color: #fff;
      padding: 20px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .iframe{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(153, 153, 153, 0.521); 
  }
  .if1 img{
    width: 300px;
    height:300px;
  }
  .if2 img{
    width: 320px;
    height:300px;
  }

  .back{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.329);
    padding: 40px;
  }
  .back button{
    font-size:16px;
    margin-top: 25px;
    border: 0;
    outline: none;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.808);
    font-family: Arial, Helvetica, sans-serif;
  }
  .back a{
    color: rgba(49, 49, 49, 0.685);
  }

  .back button:hover{
    background-color: rgba(128, 128, 128, 0.027);
    color: #fff;
    transition: .8s;
  }

  .footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(68, 68, 68, 0.39);
  }
  .fot1{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Verdana,Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
  }
  .fot1 i{
    font-size: 30px;
    color: rgba(22, 22, 22, 0.521);
}
  .fot2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Verdana,Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
}
.fot2 i{
  font-size: 30px;
  color: rgba(22, 22, 22, 0.521);
}
.loc li a{
  color:rgba(255, 255, 255, 0.699);
}

.fot3{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: Verdana,Tahoma, sans-serif;
  text-align: center;
  padding: 20px;
}
.fot3 i{
  font-size: 30px;
  color: rgba(22, 22, 22, 0.521);
}

.fot3 p{
  width: 400px;
  margin: 0 auto;
}
.fot4{
  padding: 25px;
}
.fot4 input[type=mail]{
  font-size: 14px;
  line-height: 25px;
  color: #000000;
  font-family: "Roboto";
  text-align: center;
  background-color:#f0f0f0;
  border-radius: 5px;
  border:0;
  outline:none;
  padding:5px 18px;
}

.fot4 input[type=submit]{
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Roboto";
  text-align: center;
  background-color:#36111d;
  border-radius: 5px;
  border:0;
  outline:none;
  padding:5px 15px;
}

.fot4 input:hover[type=submit]{
  background-color:rgb(49, 47, 47);
  transition: .5s;
}

.fot4 p{
  font-size: 16px;
  padding: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: Verdana,Tahoma, sans-serif;
  text-align: center;
  padding: 20px;
}